{% extends "AppArtesania/padre.html" %}
{% load static %}
{% block titulo %} {% endblock %}
{% block contenido_que_cambia %} 

<br>
<br>


<div class="container">
    <h1 class="text-center text-morado" style="font-size: 50px;">
        Acerca de Mí...
    </h1>
    <br>
    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-light">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-body text-center">
                    <img src="{% static 'imagenes/yo.jpg' %}" class="rounded mb-3" width="250px">
                    <div class="text-center">
                        <h3 class="card-title text-morado mb-3">Kary Francia</h3>
                        <p class="card-text">MBA con orientación a analítica de negocios | Data Analyst | Data Scientist Jr </p>
                        <p class="card-text">Sígueme en:</p>
                        <a href="https://github.com/KaryFrancia"><i class="bi bi-github text-dark mx-1"></i></a>
                        <a href="https://www.linkedin.com/in/kary-francia/"><i class="bi bi-linkedin text-purple mx-1"></i></a>
                    </div>
               </div>
            </div>
           </div>
        </div>
        
        <div class="col">
            <div class="">
                <div class="text" style="text-align: justify;">
                    <p>Hola! Me llamo Kary Francia. Soy una persona que busca siempre nuevos conocimientos y compartirlos, tener esta característica me ha permitido ampliar mi perspectiva y no solo limitarme al área de mi experiencia. Me considero una profesional polivalente, con enfoque estratégico para diferentes modelos de negocios. Tengo más de 10 años de experiencia profesional y actualmente estoy aprendiendo el lenguaje de programación Python y el Framework Django.</p>
                    <br>
                    <h2 class="text-morado" style="font-size: 25px;">Proyecto pericotitos artesanos... </h2>
                    <p>Como creadora de esta plataforma para venta de artesanías, me encuentro en un emocionante viaje. Debido que, este proyecto marca mi incursión en el mundo del desarrollo web. La idea detrás de esta temática surge de una pasión profundamente arraigada por el arte y la creatividad. Al igual que un lienzo en blanco que espera ser transformado por pinceladas de color, esta web se convierte en un espacio donde la artesanía cobra vida. Como amante del arte y de las manualidades, he encontrado en esta plataforma un lienzo digital donde puedo fusionar mi amor por la programación y del análisis de los datos con mi devoción por la creación artística.</p>
                    <br>
                    <p>Cada línea de código es un trazo que añade profundidad y significado a mi visión. Cada imagen y descripción cuidadosamente elegidas reflejan la diversidad y la belleza del mundo artesanal. Este proyecto es un testimonio de mis deseos de explorar nuevas fronteras y de mi dedicación a crear un espacio único que conecte a los amantes del arte con las creaciones más auténticas y genuinas.</p>
                    <br>
                    <p>Aunque es mi primera incursión en este mundo, cada desafío y cada logro son oportunidades para aprender, crecer y superar mis propios límites. Al igual que una paleta de colores que se mezcla para dar vida a una obra maestra, esta plataforma es el resultado de mi pasión, determinación y dedicación. Cada clic y cada visita en esta web no solo representan un paso adelante en mi proyecto, sino también en mi propio viaje de autodescubrimiento. Estoy emocionada de compartir esta aventura contigo y de ver cómo esta plataforma se convierte en un rincón de inspiración para todos aquellos que comparten mi amor por el arte y la artesanía.</p>
                    <br>
                    <p>Gracias por visitar mi página y no dejes de seguirme en mis redes sociales. ¡Espero que encuentres mi trabajo inspirador y valioso para tu interés! Juntos, estamos creando una comunidad donde la creatividad fluye libremente y el arte encuentra su lugar en el mundo digital.</p>
                    <footer>
                        <p class="text-center">Autor: <strong>Kary Francia</strong> | Fecha: 2023-08-31</p>
                      </footer>
            </div>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}





