{% extends "AppArtesania/padre.html" %}
{% load static %}
{% block titulo %} {% endblock %}
{% block contenido_que_cambia %} 
<h2>{{ mensaje }}</h2>

<h1>Conversación con {{ user_to.username }}</h1>
<ul>
    {% for message in messages %}
        <li>
            <strong>De:</strong> {{ message.remitente.username }}<br>
            <strong>Fecha:</strong> {{ message.tiempo }}<br>
            <strong>Mensaje:</strong> {{ message.contenido }}
        </li>
    {% endfor %}
</ul>

<!-- Formulario para enviar un nuevo mensaje -->
<form method="post" action="{% url 'compose' %}">
    {% csrf_token %}
    <input type="hidden" name="destinatario" value="{{ user_to.username }}">
    <div class="form-group">
        <label for="contenido">Nuevo Mensaje:</label>
        <textarea name="contenido" id="contenido" class="form-control" rows="4"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}

