{% extends "AppArtesania/padre.html" %}
{% load static %}
{% block titulo %} {% endblock %}
{% block contenido_que_cambia %} 
<style>
    h2 {color: rebeccapurple;}
    h1 {color: gray}
</style>
<h2>{{ mensaje }}</h2>


<h1>Detalles de la artesanía: </h1>
<br>
    <img src="{{ artesania.imagenProducto.url }}" alt="{{ artesania.titulo }}" style="max-width: 200px;">
    <h2>{{ artesania.titulo }}</h2>
    <p>Categoría: {{ artesania.producto }}</p>
    <p>Descripción: {{ artesania.descripcion }}</p>
    <p>Precio: ${{ artesania.precio }}</p>
    <p>Publicado por: {{ artesania.usuario.username }}</p>
    <p>Fecha de publicación: {{ artesania.fechaPublicacion }} </p>

  
{% endblock %}