{% extends "AppArtesania/padre.html" %}
{% load static %}
{% block titulo %}  {% endblock %}
{% block contenido_que_cambia %} 
<style>
    h1 {color: rgb(124, 83, 116)}
    .card-body img {
        max-width: 100px; 
        height: auto; 
    }
</style>
<br>
<br>

<div class="container text-center">
    <h1>Especiales</h1>
    <br>
    <h2>¡Celebra los momentos especiales con un toque personalizado!</h2>
    <p class="text-center">Autor: <strong>Kary Francia</strong> | Fecha: 2023-08-31</p>
    <br>
    <br>
    <div class="text" style="text-align: justify;">
    <p>En nuestra sección 'Especiales', te invitamos a celebrar momentos significativos con un toque personalizado y artesanal. Desde encantadores regalos navideños que iluminarán tu temporada festiva hasta delicadas creaciones para el Día de la Madre, el Día del Padre, el Día de los Abuelos, el Día del Amor y la Amistad, y muchas otras ocasiones especiales, aquí encontrarás tesoros únicos que expresan tus sentimientos de manera auténtica.</p>
    <p>En <span class="text-rosado" style="font-size: 20px;">pericotitos artesanos</span> nos encargamos de que cada pieza sea cuidadosamente confeccionada a mano para reflejar el cariño y la importancia de la ocasión. Celebra la vida y el amor de una manera especial, con nuestros regalos que se convierten en recuerdos que perduran para siempre.</p>   
    
    <div class="container text-center">
        <div class="row">
            {% for especial in especiales %}
                <div class="col-sm-6 align-items-center">
                    <div class="card-body">
                        <img src="{% if especial.imagenProducto %}{{ especial.imagenProducto.url }}{% endif %}" class="" width="100px">                       
                        {{especial.titulo}}
                        <a href="{% url 'especial' especial.id %}"><i class="bi bi-eye"></i></a>
                        {% if user.id == especial.usuario.id %}
                            <a href="{% url 'especial_editar' especial.id %}"><i class="bi bi-pencil-fill"></i></a>
                            <a href="{% url 'especial_eliminar' especial.id %}"><i class="bi bi-trash text-danger"></i></a>
                        {% endif %}
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}