{% extends "AppArtesania/padre.html" %}
{% load static %}
{% block titulo %} {% endblock %}
{% block contenido_que_cambia %} 
<style>
    h1 {color: rebeccapurple;}
</style>

<br>
<br>
<br>
<br>

<div class="container">

<p><h4>{{ joyeria.titulo }}</h4></p>

{% if joyeria.imagenProducto %}
    <p><img src="{{ joyeria.imagenProducto.url }}" alt=""></p>
{% endif %}
<p>Modelo: {{ joyeria.modelo }}</p>
<p>Descripción: {{ joyeria.descripcion }}</p>
<p>Precio(UYU): {{ joyeria.precio }}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not joyeria.comentarios.all %}
        No han comentado este producto
    {% else %}
        {% for comentario in joyeria.comentarios.all %}
        <p><strong>{{ comentario.nombre }}</strong></p>
        <p>{{ comentario.mensaje }}</p>
        <p><small>{{ comentario.fechaComentario }}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' joyeria.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}



