{% extends "AppArtesania/padre.html" %}
{% load static %}
{% block titulo %} {% endblock %}
{% block contenido_que_cambia %} 
<style>
    h1 {color: rebeccapurple;}
</style>

<br>
<br>
<br>
<br>

<div class="container">

<p><h4>{{ pintura.titulo }}</h4></p>

{% if pintura.imagenProducto %}
    <p><img src="{{ pintura.imagenProducto.url }}" alt=""></p>
{% endif %}
<p>Modelo: {{ pintura.modelo }}</p>
<p>Descripción: {{ pintura.descripcion }}</p>
<p>Precio(UYU): {{ pintura.precio }}</p>

</div>
<br>
<div class="container">
    <h4>Comentarios...</h4>
    <br>
    <div class="container">
    {% if not pintura.comentarios.all %}
        No han comentado este producto
    {% else %}
        {% for comentario in pintura.comentarios.all %}
        <p><strong>{{ comentario.nombre }}</strong></p>
        <p>{{ comentario.mensaje }}</p>
        <p><small>{{ comentario.fechaComentario }}</small></p>
        <hr>
        {% endfor %}
    {% endif %}
    <a href="{% url 'comentario' pintura.pk %}">Agrega un Comentario</a>
    </div>
</div>
<br>
{% endblock %}



